.container {
    height: 100vh;
}

.vertical-divider-red {
    height: 24rem;
    border-left: 4px solid var(--secondary-color);
    padding: 20px;
}

.first{
    margin-top: 20%;
    margin-left: 50%;
}
.second {
    margin-top: 10px;
    margin-left: 51%;

}

i {
    margin-right: 10px;
}

.red {
    color: red;
}

p {
    color: white;
    font-size: 12px;
}