<div class="container">

    <div>
<p>Please allow me to introduce myself...</p>
<app-title [mode]="'title'" [text]="'Ana Topic'" ></app-title>

<p>web developer, wannabe JS wizzard, angular entusiast, in life long relationship with books, board games and craft beer</p>

    <div class="first">
        <i class="fas fa-code fa-2x"></i>
        <i class="fas fa-beer fa-2x"></i>
        <i class="fab fa-adobe fa-2x"></i>
        <i class="fas fa-headphones-alt fa-2x"></i>
        <i class="fas fa-glasses fa-2x"></i>
        <i class="fas fa-coffee fa-2x"></i><br>
    </div>
    <div class="second">
        <i class="fab fa-github fa-2x"></i>
        <i class="far fa-smile-beam fa-2x"></i>
        <i class="fas fa-code-branch fa-2x"></i>
        <i class="fas fa-terminal fa-2x"></i>
        <i class="fab fa-angular fa-2x red"></i>
        <i class="fas fa-jedi fa-2x red"></i>
    </div>

    <app-button [label]="'Envoyer'" [icon]="'fas fa-jedi'"></app-button>

    <app-button [disabled]="'disabled'" [label]="'Envoyer'"></app-button>
</div>