<div class="container row">

    <app-title class="row" [mode]="'subtitle-dashboard'" [text]="'Bio'"></app-title>

    <form class="form" [formGroup]="modifyBioForm" (ngSubmit)="submitModifyBio()">
        <div class="field">
            <label>Intro:</label>
            <input type="text" name="name" formControlName="intro"/>
        </div>
        <!-- image modify -->
        <label>
            Image:
            <input enctype="multipart/form-data" type="file" name="cvLink" (change)="onFileModify($event)" class="chooseFile">
        </label>


        <div class="actions">
            <button type="submit">
                Process Form
            </button>
        </div>
    </form>




</div>