<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-12 col-xl-5 project-details" *ngFor="let project of projects; let index=i">
            <div class="content-container">
            <ul class="number col-auto"> {{project.id}}. </ul>
            <li class="technologies">
                <i *ngFor="let toolboxItem of project.toolbox" class="fab {{toolboxItem.sortcut}}"></i>
            </li>
            <li class="project-title">
                <app-title class="row name" [mode]="'subsubtitle'" [text]="project.name"></app-title>
            </li>
            <li class="project-description col-10">{{project.description}}
            </li>
            <div class="buttons">
                <a href="{{project.github_link}}">
                    <app-button class="button" [label]="'Github'" [icon]="'fab fa-github'"></app-button>
                </a>
                <a href="{{project.youtube_link}}" target="_blank">
                    <app-button class="button" [label]="'Demo'" [icon]="'fab fa-youtube'"></app-button>
                </a>
            </div>
            </div>
        </div>
    </div>
    <div div class="arrow-animated col-12 justify-content-center">
        <i routerLink="bio" class="fas fa-chevron-down"></i>
    </div>
</div>