<div class="container">

    <div class="row">
        <div class="col-5 project-details">
            <ul class="number col-2"> 1. </ul>
            <li class="technologies">
                <i class="fab fa-sass"></i>
                <i class="fab fa-angular"></i>
                <i class="fab fa-node-js"></i>
                <i class="fab fa-js"></i>
            </li>
            <li class="project-title"><app-title class="row name" [mode]="'subsubtitle'" [text]="'Project title'"></app-title></li>
            <li class="project-description col-9">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto 
                beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
                sed quia consequuntur.
            </li> 
            <div class="buttons">
            <a href="https://github.com/lattara" target="_blank">
                <app-button class="button" [label]="'Github'" [icon]="'fab fa-github'"></app-button>
            </a>
            <a href="https://github.com/lattara" target="_blank">
                <app-button class="button" [label]="'Demo'" [icon]="'fab fa-youtube'"></app-button>
            </a>
            </div>
        </div>

        <div class="col-5 project-details">
            <ul class="number col-2"> 2. </ul>
            <li class="technologies">
                <i class="fab fa-sass"></i>
                <i class="fab fa-angular"></i>
                <i class="fab fa-node-js"></i>
                <i class="fab fa-js"></i>
            </li>
            <li class="project-title"><app-title class="row name" [mode]="'subsubtitle'" [text]="'Project title'"></app-title></li>
            <li class="project-description col-9">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto 
                beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
                sed quia consequuntur.
            </li> 
            <div class="buttons">
            <a href="https://github.com/lattara" target="_blank">
                <app-button class="button" [label]="'Github'" [icon]="'fab fa-github'"></app-button>
            </a>
            <a href="https://github.com/lattara" target="_blank">
                <app-button class="button" [label]="'Demo'" [icon]="'fab fa-youtube'"></app-button>
            </a>
            </div>
        </div>

        <div class="col-5 project-details">
            <ul class="number col-2"> 3. </ul>
            <li class="technologies">
                <i class="fab fa-sass"></i>
                <i class="fab fa-angular"></i>
                <i class="fab fa-node-js"></i>
                <i class="fab fa-js"></i>
            </li>
            <li class="project-title"><app-title class="row name" [mode]="'subsubtitle'" [text]="'Project title'"></app-title></li>
            <li class="project-description col-9">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto 
                beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
                sed quia consequuntur.
            </li> 
            <div class="buttons">
            <a href="https://github.com/lattara" target="_blank">
                <app-button class="button" [label]="'Github'" [icon]="'fab fa-github'"></app-button>
            </a>
            <a href="https://github.com/lattara" target="_blank">
                <app-button class="button" [label]="'Demo'" [icon]="'fab fa-youtube'"></app-button>
            </a>
            </div>
        </div>

        <div class="col-5 project-details">
            <ul class="number col-2"> 4. </ul>
            <li class="technologies">
                <i class="fab fa-sass"></i>
                <i class="fab fa-angular"></i>
                <i class="fab fa-node-js"></i>
                <i class="fab fa-js"></i>
            </li>
            <li class="project-title"><app-title class="row name" [mode]="'subsubtitle'" [text]="'Project title'"></app-title></li>
            <li class="project-description col-9">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto 
                beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
                sed quia consequuntur.
            </li> 
            <div class="buttons">
            <a href="https://github.com/lattara" target="_blank">
                <app-button class="button" [label]="'Github'" [icon]="'fab fa-github'"></app-button>
            </a>
            <a href="https://github.com/lattara" target="_blank">
                <app-button class="button" [label]="'Demo'" [icon]="'fab fa-youtube'"></app-button>
            </a>
            </div>
        </div>


        <div div class="arrow-animated" routerLink="bio">
            <i class="fas fa-chevron-down"></i>
        </div>

</div>

