<div class="container">
    <app-title class="row title-login" [mode]="'subtitle'" [text]="'login'"></app-title>
        <div class="row login-form-container">
            <div class="form-frame">
            <mat-form [formGroup]="loginUserData">
        <mat-form-field class="col-12" appearance="outline">
                        <mat-label>Identifiant</mat-label>
                        <input formControlName="identifiant" matInput>
                        
                    </mat-form-field>
                    <br>
                    <mat-form-field class="col-12" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password">
                    </mat-form-field>
        </mat-form>
        <app-button class="login-button" [label]="'login'" [icon]="'far fa-envelope'" (click)="loginUser()"></app-button>
        </div>
    </div>
    <app-button class="go-home-button" [label]="'Go home'" [icon]="'far fa-envelope'" routerLink="/"></app-button>
</div>

