i {
    margin-right: 5px;
}

.action-button {
    background: var(--primary-color) !important;
    border: 1px solid var(--white);
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 20px;
    color: white;
}

.action-button:hover {
    background: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
    font-weight: bolder;
}

.action-button:focus,
.action-button.focus {
    box-shadow: 0 0 0 0;
    outline: none;
}

.action-button-img-width {
    width: 25px;
}

.action-button:focus {
    outline: none;
}

.container-action-button {
    margin: 40px 0px;
}
/* BUTTON ========> */