.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.register-form-container {
    justify-content: center;
    margin-top: 10px;
}

.title-register {
    margin-top: 100px;
}

.form-frame {
    border: 1px solid white;
    padding: 50px 50px 50px 50px;
    max-width: 550px;
}

.register-button {
    float: right;
}

.already-acc {
    text-align: right;
    color: var(--white);
    cursor: pointer;
}

.already-acc:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

