/* You can add global styles to this file, and also import other style files */
//import for custom var/custom colors
@import "custom-styles.scss";
@import "~bootstrap/dist/css/bootstrap.css";


body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: var(--primary-color);
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

h1 {
    margin-bottom: 0px !important;
    padding: 0px;
}

.divider-white {
    border-bottom: 1px solid var(--white);
    width: 75%;
    margin:auto;
}

p, ul, li {
    font-family: var(--font-secondary);
    color: var(--white);
    padding: 0px;
}

ul, li {
    list-style: none;
    text-decoration: none;
}

.featured-text{
    font-family: var(--font-secondary);
    font-size: 17px;
    color: var(--white);
}

i {
    color: white;
}

.arrow-animated {
    width: 100%;
    text-align: center;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 0.4s infinite alternate;
}

// ----arrow animation----

@keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-19px);
    }
}
@-webkit-keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-19px);
    }
}

// ----arrow animation----

.project-details:hover .action-button .git-hub-button{
    background: var(--secondary-color) !important;
    border: 1px solid var(--secondary-color) !important;
}

