.container-fluid {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}

.landing-title-group {
    margin-top: 25vh;
}

.vertical-divider-red {
    height: 24rem;
    border-left: 4px solid var(--secondary-color);
    padding: 20px;
}

.featured-text {
    line-height: 25px;
}

.landing-icons {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    text-align: end;
}

//code icon
.landing-icons i:nth-child(1) {
    font-size: 40px;
}

//headphones icon

.landing-icons i:nth-child(2) {
    margin-right: 15px;
}

//angular icon
.landing-icons i:nth-child(3) {
    margin-right: 13px;
    font-size: 47px;
}

//beer icon
.landing-icons i:nth-child(4) {
    margin-right: 12px;
    font-size: 43px;
}

//terminal icon
.landing-icons i:nth-child(6) {
    margin-right: 12px;
    font-size: 35px;
}

i {
    font-size: 3em;
    margin-bottom: 14px;
    margin-right: 10px;
}
.red {
    color: red;
}

p {
    color: white;
    font-size: 12px;
}

