@import "../../../custom-styles.scss";

@media (min-width: 770px) {
    .title {
        font-family: var(--font-primary);
        color: var(--white);
        font-size: 95px;
        line-height: normal;
    }

    .section-subtitle {
        font-family: var(--font-primary);
        color: var(--white);
        font-size: 60px;
        line-height: normal;
        width: 100%;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .subtitle {
        color: var(--white);
        font-family: var(--font-primary);
        font-size: 25px;
        line-height: normal;
        font-weight: 900;
        margin-bottom: 60px;
    }

    .subtitle-float-right {
        color: var(--white);
        font-family: var(--font-primary);
        font-size: 25px;
        line-height: normal;
        text-transform: uppercase;
        font-weight: 900;
        //margin-bottom: 20px;
        float: right;
    }

    .subtitle-bio {
        font-size: 45px;
        color: var(--white);
        font-weight: 500;
    }

    .title-dashboard {
        color: var(--primary-color-darkened);
        font-family: var(--font-primary);
        font-size: 25px;
        line-height: normal;
        text-transform: uppercase;
        font-weight: 900;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .subtitle-dashboard {
        color: var(--white);
        font-family: var(--font-primary);
        font-size: 25px;
        line-height: normal;
        text-transform: uppercase;
        font-weight: 900;
        text-align: left;
        padding-top: 50px;
        padding-left: 60px;
        padding-bottom: 50px;
    }


    .subsubtitle {
        color: var(--white);
        font-family: var(--font-primary);
        font-size: 13px;
        line-height: normal;
        text-transform: uppercase;
        font-weight: 900;
    }

    .text {
        font-family: var(--font-secondary);
    }
}

.subtitle-icon:hover {
    color: red;
}

.iconArrow {
    margin-left: 5px;
}

// MOBILE
@media (max-width: 770px) {
    .title {
        font-size: 60px;
        line-height: normal;
        color: var(--white);
        font-weight: 500;
    }

    .title-white {
        font-size: 20px;
        line-height: normal;
        margin: 30px 0 40px 0;
        text-transform: uppercase;
        font-weight: 900;
    }

    .section-subtitle {
        font-family: var(--font-primary);
        color: var(--white);
        font-size: 30px;
        line-height: normal;
        width: 100%;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .title-dashboard {
        color: var(--white);
        font-size: 20px;
        line-height: normal;
        margin: 10px 0 40px 0;
        text-transform: uppercase;
        font-weight: 900;
    }
    .subtitle, .subtitle-float-right  {
        font-size: 26px;
        color: var(--white);
        margin: 20px 20px 20px 20px;
        font-weight: 900;
    }

    .subtitle-bio {
        font-size: 30px;
        color: var(--white);
        margin: 20px 0px 20px 0px;;
        font-weight: 900;
    }
    .subtitle-icon {
        font-size: 16px;
        cursor: pointer;
        line-height: normal;
        margin: 20px 0 20px 0;
        text-transform: uppercase;
        font-weight: 900;
    }

    .subsubtitle {
        font-size: 12px;
        line-height: normal;
        margin: 15px 0 15px 0;
        text-transform: uppercase;
        font-weight: 900;
        color: var(--white);
    }
}
