.container {
    width: 100%;
    padding-bottom: 50px;
}

app-title {
    float: right !important;
}

.contact-text-container {
    margin-top: 70px;
    height: 550px;
    border-right: 1px solid var(--white);
    text-align: right;
}

.contact-text-container p {
    margin-right: 15px;
}

.contact-form-container {
    margin-top: 160px;
}

.contact-button {
    float: right;
    margin-right: 10px;
}

.envelope-big {
    color: var(--secondary-color);
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 70px;
    font-size: 55px;
}

textarea {
    height: 150px;
}

textarea, input {
    color: var(--white) !important;
}

// MOBILE
@media (max-width: 770px) {

    .row {
        padding-left: 40px;
    padding-right: 40px;
    }

    .contact-text-container {
        height: unset;
        margin-top: unset;
        border-right: none;
        
    }

    .contact-form-container {
        margin-top: unset;
        margin-bottom: 25px;
    }

    
}