<div class="container">

    <div class="row">
        <div class="col-4 contact-text-container" >
            <app-title [mode]="'subtitle'" [text]="'Say Hi!'"></app-title>
            <p>Feeling shy?</p>
            <p>Here are some good reasons to fill that form</p>
            <ul>
                <li>motivated</li>
                <li>persistent</li>
                <li>positive</li>
                </ul>
        </div>

        <div class="col-7 contact-form-container" >
            <mat-form-field appearance="outline">
                <mat-label>Outline form field</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
    </div>
</div>

</div>
