<div class="container">

    <div class="row">  

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 contact-text-container">
            <i class="far fa-envelope envelope-big"></i>
            <app-title class="col-12" [mode]="'subtitle-float-right'" [text]="'Say Hi!'"></app-title>
            <p>Don't be shy!</p>
            </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-5 col-xl-5 contact-form-container">
            <mat-form [formGroup]="contactForm" (ngSubmit)="sendMail()" method="POST" action="/send-email"  color="accent">
        <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>
                    <br>
                    <mat-form-field class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                    </mat-form-field>
                    <mat-form-field class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"  appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input matInput formControlName="phone">
                    </mat-form-field>
                    <br>
                    <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" appearance="outline">
                        <mat-label>Message</mat-label>
                        <textarea matInput formControlName="message"></textarea>
        </mat-form-field>
        </mat-form> 
        <app-button (click)="sendMail()" class="contact-button" [label]="'Contact'" [icon]="'far fa-envelope'"></app-button>
        </div>
    </div>

</div>