<!-- Footer -->

<div class="divider-white"></div>

<footer class="page-footer font-small mdb-color lighten-3 pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 text-center mx-auto my-4">

                <!-- Social buttons -->
                <h5 class="font-weight-bold mb-4">i am on Internet!</h5>
                <div class="social d-flex justify-content-around">
                    <!-- Twitter -->
                    <a type="button" class="btn-floating" href="https://twitter.com/Ana60458091" target="blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <!-- Instagram-->
                    <a type="button" class="btn-floating" href="https://www.instagram.com/lattaral/" target="blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <!-- Github -->
                    <a type="button" class="btn-floating" href="https://github.com/lattara" target="blank">
                        <i class="fab fa-github"></i>
                    </a>
                    <!-- Stack overflow -->
                    <a type="button" class="btn-floating" href="https://stackoverflow.com/users/11746772/lacodem" target="blank">
                        <i class="fab fa-stack-overflow"></i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Made with <i routerLink="/register" class="far fa-heart"></i>
        coffee and good vibes
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->