:root {
    --font-primary: 'Ubuntu', sans-serif;
    --font-secondary: 'Raleway', sans-serif;
    --primary-darkened: #0a041f;
    --primary-gradient: linear-gradient(to bottom, #0a041f, #0b0424); 
    --box-shaddow: -2px -3px 13px -3px rgba(221, 222, 224, 0.28);
    --primary-color: #0a041f; //primary
    --secondary-color: #ff0000; //secondary, hoover, warning
    --grey: #d6d6d6;
    --dark-gray: #8a8a8a;
    --light-grey: #f9f9f9;
    --white: #ffffff;
}


