/* You can add global styles to this file, and also import other style files */
//import for custom var/custom colors
@import "custom-styles.scss";
@import "~bootstrap/dist/css/bootstrap.css";


body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: #0a041f;
}

h1 {
    margin-bottom: 0px !important;
    padding: 0px;
}

.divider-white {
    border-bottom: 1px solid var(--white);
    width: 75%;
    margin:auto;
}

p {
    font-family: var(--font-secondary);
}

.featured-text{
    font-family: var(--font-secondary);
    font-size: 17px;
    color: var(--white);
}

i {
    color: white;
}/* You can add global styles to this file, and also import other style files */


