<div class="container">

    <div class="row">
        <!-- big box -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 contact-details-container">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 bio-card">
                <div class="row image-container"><img class="img-fluid profile-image" src="./assets/profile -img-bw-long.JPG"
                        alt=""></div>
                <div class="row button-container">
                    <a href="http://localhost:3000/uploads/{{cvLink}}" target="_blank">
                        <app-button [label]="'download CV'" [icon]="'fas fa-download'"(click)="downloadCV()"></app-button>
                        </a>
                </div>
            </div>
        </div>
        <!-- --------big box---->

        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7  bio-short-text-container">
            <!-------container long box + 4 sm boxes ------->
            <div class="row bio-short-text">
                <!-------container long box ------->
                <p class="row text-intro">please allow me to introduce myself</p>
                <app-title class="row name" [mode]="'subtitle'" [text]="'Ana Topic'"></app-title>
                <div class="divider-bio"></div>
                <p class="text-colums">
                {{intro}}
            <div class="row skillset-container">
                <!-------container 4 sm boxes ------->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 education">
                    <app-title class="education-title" [mode]="'subsubtitle'" [text]="'Education'">
                    </app-title>
                    <ul *ngFor = "let edu of education">
                        <li>{{edu.diploma_name}} / {{edu.school}} </li>
                    </ul>
                </div>

                <div class="row skillset-container">
                    <!-------container 4 sm boxes ------->
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 experience">
                        <app-title class="experience-title" [mode]="'subsubtitle'" [text]="'Experience'">
                        </app-title>
                        <ul *ngFor = "let exp of experience">
                            <li>{{exp.title}} / {{exp.company}}</li>
                            <li>{{exp.duration}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>