.container {
    width: 100%;
    height: 70vh;
}

.contact-details-container, .bio-short-text-container {
    width: 30%;
    margin: 1%;
}

// .bio-short-text-container {
//     margin:1%;
//     padding: 0px;
// }

// .skillset-container {
//     margin:1%;
//     padding: 0px;
// }


.bio-card {
    height: 500px;
    border: 1px solid rgb(15, 14, 14);
    border-radius: 20px;
    background: var(--primary-color);
    background: var--primary-gradient;
    box-shadow: var(--box-shaddow)
}

.bio-short-text {
    height: 50%;
    border: 1px solid rgb(15, 14, 14);
    border-radius: 20px;
    background: var(--primary-color);
    background: var(--primary-gradient);
    box-shadow: var(--box-shaddow)
}

.skillset-container {
    height: 52%;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}


.toolbox, .experience, .education {
    min-width: 210px;
    justify-content: center;
    height: 85%;
    border: 1px solid rgb(15, 14, 14);
    border-radius: 20px;
    background: var(--primary-color);
    background: var--primary-gradient;
    box-shadow: var(--box-shaddow) 
}

.bio-card-divider {
    display: flex;
    transform: rotate(90deg);
    border-bottom: 1px solid var(--white);
    margin: 10px 10px 10px;
}

.profile-image {
    display: flex;
    width: 80%;
}

.profile-image img {
    margin: auto;
    justify-content: center;
    height: 250px;
}
