<div class="container">

    <div class="row">
        <!-- big box -->
        <div class="col-4 contact-details-container">
            <div class="col bio-card">
                my profile image with adress and stuff
            </div>
        </div>
        <!-- --------big box---->
        
        <div class="col-7 bio-short-text-container"><!-------container long box + 4 sm boxes ------->

            <div class="row bio-short-text"> <!-------container long box ------->
                content of short text with divider and download cv
            </div>

            <div class="row skillset-container"> <!-------container 4 sm boxes ------->
                <div class="col-3 toolbox"></div>
                <div class="col-3 experience"></div>
                <div class="col-3 education"></div>
            </div>

        </div>
    </div>

</div>





<!-- <div class="col no-gutters profile-image"> <img  class="img-fluid rounded" src="./assets/profile -img.JPG" alt=""></div> -->