* {
    color: var(--white);
}

table {
    font-size: 12px;
    
}

th,td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.github-activity {
    margin-bottom: 50px;
    
}

th[colspan="6"] {
    border-top: none;
}

.repos-gists {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.repository-nmb, .gitst-nmb {
    //background-color: rgba(245, 245, 245, 0.3);
    border-radius: 7px;
    width: 15%;
    height:30px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.toolbox{
    margin-bottom: 50px;
}

.toolboxItems {
    width: 52%;
    columns: 2 !important;
}

.mat-progress-bar {
    width: 70%;
}

.skill-grouped {
    width: 50%;
}