<div class="container justify-content-center">
    <div class="row">

        <app-title class="toolbox-title col-12 justify-content-center" [mode]="'subtitle'"
            [text]="'Technologies I feel comfortable working with'"></app-title>
        <ul *ngFor="let item of toolboxItems" class="toolboxItems justify-content-center col-6">
            <li class="skill-grouped"><i class="{{item.sortcut}}"></i> {{item.name}}
                <mat-progress-bar mode="determinate" value="{{item.master_level}}"></mat-progress-bar>
            </li>
        </ul>

        <div class="github-activity col-12">
            <table class="table">
                <thead>
                    <th colspan="6">Recent Github activity</th>
                    <tr>
                        <th scope="col">INDEX</th>
                        <th scope="col">EVENT TYPE</th>
                        <th scope="col">REPOSITORY</th>
                        <th scope="col">TIME</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let event of githubEvents.slice(0,5), let i = index">
                        <tr>
                            <td scope="row">{{i+1}}</td>
                            <td>{{event.type}} </td>
                            <td>{{event.repo.name}}</td>
                            <td>{{event.created_at}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <div class="repos-gists">
                <div class="repository-nmb"> Total repositories: {{repos}}</div>
                <div class="gitst-nmb"> Total Gists: {{gists}}</div>
            </div>
        </div>
    </div>
</div>