* {
    color: var(--white);
    justify-content: center;
}

table {
    font-size: 12px;
    
}

ul {
    margin: auto;
}

th,td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.github-activity {
    margin-bottom: 50px;
    
}

th[colspan="6"] {
    border-top: none;
}

.repos-gists {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.repository-nmb, .gitst-nmb {
    width: 15%;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

:last-child
.toolbox{
    margin-bottom: 50px;
}

.mat-progress-bar {
    width: 100%;
}
